.grid {
  display: grid;
  grid-template-areas:
    "header"
    "dashboard"
    "summary";
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  position: relative;
}

.headerBlock_container {
  grid-area: header;
}

.calcDairyBlock_container {
  grid-area: dashboard;
  padding: 40px 25px 50px;
}

.summaryBlock_container {
  grid-area: summary;
}

@media(min-width: 767px) {
  .calcDairyBlock_container {
    padding: 90px 90px 100px;
  }
}

@media(min-width: 1024px) {
  .grid {
    grid-template-areas:
      "header header"
      "dashboard summary";
    grid-template-columns: 8fr 5fr;
    grid-template-rows: auto;
    height: 100%;
  }

  .headerBlock_container {
    grid-row: 1/1;
    position: relative;
    z-index: 10;
  }

  .calcDairyBlock_container {
    padding: 115px 20px 0 115px;
  }

  .summaryBlock_container {
    grid-row: 2/1;
    position: absolute;
  }
}
