* {
  outline: 1px solid red;
}

.grid {
display: grid;
grid-template-areas:
        "h"
        "c"
        "s";
grid-template-columns: 1fr;

}
    .headerBlock_container {
      grid-area: h;
      background-color: yellow;
    }
    .calcDairyBlock_container{
      grid-area: c;
      background-color: orange;
    }
    .summaryBlock_container {
      grid-area: s;
      background-color: green;
    }
@media(min-width: 1024px) {
  .grid {
    grid-template-areas:
    "h h"
    "c s";
      grid-template-columns: 8fr 5fr;
      grid-template-rows: auto;
  }
}
