* {
  outline: 1px solid red;
}

.grid {
/* max-width: 320px; */
/* height: auto; */
display: grid;
grid-template-areas:
        "h"
        "c"
        "s";
grid-template-columns: 1fr;
/* grid-template-rows: 150px */
/* grid-auto-rows: minmax(min-content, max-content); */
}
    .header {
      grid-area: h;
      background-color: yellow;
    }
    .calkBlock{
      grid-area: c;
      background-color: orange;
    }
    .summary {
      grid-area: s;
      background-color: green;
    }
    @media(min-width: 1024px) {
      .grid {
        grid-template-areas:
        "h h"
        "c s";
        grid-template-columns: 8fr 5fr;

      }
    }
