.homeContainer {
  width: 100%;
}
.calcForm {
  padding: 45px 25px 50px;
}

@media(min-width: 768px){
  .homeContainer {
    background-image: url(../../assets/images/home_tablet.png);
    background-repeat: no-repeat;
    background-position: bottom right;
  }
   .calcForm {
    padding: 115px 90px 430px;
   }
}
@media(min-width: 1024px){
  .homeContainer{
    padding: 0 25px;
    background-image: url(../../assets/images/home_descktop.png);
    background-size: contain;
  }
    .calcForm {
      padding: 150px 115px 110px;
     }
  .homeGroup{
    width: 70%;
  }
}
