.container {
  min-width: 320px;
  width: 100%;
  height: 100vh;
  background-color: #284160;
  position: fixed;
  left: 0;
  top: 75px;
  z-index: 10;
  /* top: 124px; */
}

.linkBox a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 21px;
  color: #9a9eaa;
}

.linkBox a:hover {
  color: #fefeff;
}


@media (min-width: 768px) {
  .container {
    min-width: 768px;
  }

  .container a {
    padding-top: 10px;
  }

  .linkBox {
    padding-top: 100px;
  }
}
