.container {
  display: flex;
  align-items: center;
  padding-top: 7px;
  padding-right: 5px;
}
.container a {
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 1.5px;
  color: #212121;
  font-family: "GothamProBold", sans-serif;
  font-weight: bold;
  padding-right: 0;
}

@media (min-width: 768px) {
  .container a {
    padding-right: 38px;
    font-size: 15px;
  }
}

