
:root{
  --buttonCalc:#fc842c;
  --fonts: Verdana, Geneva, Tahoma, sans-serif serif;
  --rateColor: #284060;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




/* body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} */


  .backdrop {
    font-family:var(--bold-fonts);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .modal {
    /* padding: 0 0 16px 0; */
    max-width: 450px;
    width: 100%;
    background-color:var(--bg-color-white);
    font-family: var(--bold-fonts);
  }

  .dailyRate{
    font-size: 47px;
    color:var(--callories-color);
    text-align: center;
    font-weight: bold;
    letter-spacing: 5px;
  }
  .ccal{
    font-size: 18px;
    letter-spacing: 0px;
  }

  .dailyRate::after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--bg-color-blue);
    display: block;
    margin: 45px auto 21px;
    /* margin-top: 45px; */
  }

  .title{
    font-size: 21px;
    font-weight: bolder;
    margin-bottom: 30px;

  }

  .bgButtonColor{
    background-color: var(--bg-color-grey);
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: 30px;
  }


  .main{
    padding: 0 20px 40px 20px;
  }

  .subTitle{
    font-size: 15px;
    font-weight: bold;
    width: 80%;
  }

  .menu{
    padding: 20px;
  }

  .listItem::first-letter{
    text-transform: uppercase;
  }

  .listItem{
    color: var(--text-color-grey);
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 20px;
  }

  .start{
    color: var(--text-color-white);
    background-color: var(--button-color);
    line-height: 42px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    width: 175px;
    /* height: 42px; */
    border: none;
    text-decoration: none;

  }

  .arrow{
    border: none;
    background-color: var(--bg-color-grey);
    font-size: 25px;
    margin-left: 25px;
  }

  .cross{
    display: none;
  }



@media(min-width: 768px){

  .modal{
    max-width: 625px;
  }

  .title{
    font-size: 26px;
  }

  .bgButtonColor{
    background-color:var(--bg-color-white);

  }

  .cross{
    display: block;
    background-color:var(--bg-color-white);
    font-size: 25px;
    margin-left: auto  ;
    margin-right: 25px;
    border: none;
  }

  .arrow{
    display: none;
  }

  .backdrop{
    text-align: center;
  }
  .menu{
    width: 50%;
    margin: 0 auto;
    text-align: left;
  }

  .dailyRate::after{
    width: 60%;
  }

  .subTitle{
    margin: 0 auto;
    text-align: left;
    width: 60%;
  }
}

@media(min-width: 1024px){
  .modal{
    max-width: 675px;
  }

  .subTitle{
    width: 55%;
  }
  .menu{
    width: 55%;
  }

  .dailyRate::after{
    width: 55%;
  }
}
