.wrapper {
  width: 100%;
  font-family: Verdana, Arial, sans-serif;
}

.container {
  width: 275px;
  margin: 0 auto;
  padding: 40px 0;
}

.titleContainer {
  margin-bottom: 40px;
}

.title {
  font-size: 17px;
  line-height: 26px;
  font-weight: bold;
  color: #212121;
}

.input {
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  border: none;
  border-bottom: 1px solid #999daa;
  color: #999daa;
  line-height: 56px;
}

.input:focus {
  outline: none;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.radioContainer h3 {
  color:#80838d;
  font-size: 13px;
  padding-top: 25px;
}

.radioContainer h3 {
  margin-bottom: 15px;
}

.radioInputs label {
  margin-right: 17px;
}


@media (min-width: 768px) {
  .wrapper {
    margin-bottom: 50px;
  }

  .container {
    width: 576px;
  }

  .container form {
    display: flex;
    width: 100%;
  }

  .leftInputs {
    width: 50%;
  }

  .rightInputs {
    width: 50%;
  }

  .input {
    width: 235px;
    font-size: 15px;
  }

  .title {
    font-size: 30px;
    line-height: 37.5px;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    margin-bottom: 70px;
  }

  .container {
    width: 564px;
  }

  .title {
    font-size: 35px;
  }
}
